<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlowMotionController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlowMotionController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SlowMotionController.Properties.Settings>
            <setting name="SystemFramerate" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="DefaultServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="IngestDecklinkDevices" serializeAs="String">
                <value>1,2,3</value>
            </setting>
            <setting name="Tags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Home,Firebrick</string>
                        <string>Away,DodgerBlue</string>
                        <string>Goal,Green</string>
                        <string>NoGoal,DarkOrange</string>
                        <string>User1,Teal</string>
                        <string>User2,DarkBlue</string>
                        <string>User3,BlueViolet</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SlowMotionController.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SlowMotionController.Properties.Settings>
            <setting name="DefaultReplayDuration" serializeAs="String">
                <value>5</value>
            </setting>
        </SlowMotionController.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>